
a.btn-default {
    position: relative;
    color: #473C8B;
}

a {
  color: #50D0D0;;
}

.img-circle {
  max-width: 200px;
  border: #ddd 1px solid;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .img-circle {  
    max-width: 300px;
    width: 100%;
  }
}

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}


.bg {
  background: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
  min-height: 100vh;
  background: url(../img/triangles.png) no-repeat center center scroll;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.intro-title {
    margin-bottom: 12px;
}

h1,h2 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.muted {
    color: #b2b2b2;
}

.shadow {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.main-btn-grp .btn {
    margin: 0px 20px;
    margin-bottom:40px;
}

@media (min-width: 768px) {

  .main-btn-grp .btn {   
    min-width: 150px;
  }
}

.about-section {
  width: 100%;
  padding: 100px 0;
  color: #333;
  background-color: white;
}

.projects-section {
  width: 330px;
  padding: 50px 0;
  margin: auto;
  color: white;
  background: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 500px) {
  .projects-section {
    width: 535px;
  }
}

@media (min-width: 714px) {
  .projects-section {
    width: 100%;
  }
}

.contact-section {
  width: 100%;
  padding: 100px 0;
  color: white;
  background-color: #111;
  text-align: center;
}

@media (min-width: 767px) {
  .contact-section {  
    text-align: left;
  }
}

.contact-section h2 {
  margin-bottom: 70px;
}

.contact-section p {
  margin: 0;
  font-size: 20px;

}

.contact-info {
  margin-bottom: 40px;
}

.contact-info .lead {
  text-transform: uppercase;
  color: #999;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.social .btn-circle {
  font-size: 30px;
  width: 65px;
  height: 65px;
  margin-top: 5px;
}

.social .btn-circle:not(:last-child) {
  margin-right: 15px;
}

footer {
  width: 100%;
  padding: 30px 0;
  color: #fff;
  background-color: #111;
}


/* Polaroids */
ul.polaroids {z-index: 5;}
ul.polaroids li { display: inline; }
ul.polaroids a { 
  position: relative;
  z-index: 5;
  background: #fff;
  display: inline;
  float: left;
  margin: 0 15px 27px 15px;
  width: auto;
  padding: 10px 10px 15px;
  text-align: center;
  font-family: "Marker Felt", sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg);
}
ul.polaroids img { display: block; width: 190px; margin-bottom: 12px; }
ul.polaroids a:after { content: attr(title); }

ul.polaroids a:visited {color: #333;}

ul.polaroids li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
ul.polaroids li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
ul.polaroids li:nth-child(5n) a { -webkit-transform: rotate(5deg); right: 5px;  -moz-transform: rotate(5deg);}
ul.polaroids li:nth-child(8n) a { right: 5px; top: 8px; }
ul.polaroids li:nth-child(11n) a { left: -5px; top: 3px; }

ul.polaroids li.messy a { margin-top: -375px; margin-left: 160px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); z-index: 5; }

ul.polaroids li a:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }

ul.polaroids img { height: 150px; width: 150px;}